form {
    font-family: 'Roboto', sans-serif;
}

option { 
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
}

label, input, select {
    margin: 10px 5px;
}